<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		<nav>
			<ul>
				<a href="{{ path('app_home') }}">
					<li>todo</li>
				</a>
				<ul>
					<a href="{{ path('add_todo') }}">
						<li>Ajouter une todo</li>
					</a>

				</ul>
				<a href="{{path('app_user_index')}}">
					<li>users</li>
				</a>
				<ul>
					<a href="{{ path('app_user_new') }}">
						<li>add user</li>
					</a>
				</ul>
				<a href="{{ path('app_category_index') }}">
					<li>category</li>
					<ul>
						<a href="{{ path('app_category_new') }}">
							<li>add category</li>
						</a>
					</ul>
				</a>
			</ul>
		</nav>
		<main>
			{% block body %}{% endblock %}
		</main>
	</body>
</html></body></html>
